* {
  font-family: "Microsoft JhengHei";
  position: relative;
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px;
  position: relative;
  border-color: #548EA6; }

body {
  background-color: #548EA6;
  display: flex;
  justify-content: center; }

h2 {
  font-size: 28px;
  margin: 0px;
  padding-left: 5px;
  color: #548EA6; }

.resume {
  background-color: #fff;
  margin: 10px;
  height: 900px;
  width: 700px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6); }

.top {
  display: flex;
  height: 400px; }
  .top .left .profile {
    width: 250px;
    height: 100%;
    left: 50px;
    background-color: #F3D2B3;
    border-right: 30px solid #ebb583; }
    .top .left .profile .avatar {
      position: absolute;
      border-radius: 100%;
      width: 200px;
      height: 200px;
      top: 25px;
      left: 80px;
      background-image: url(./imgs/me.jpg);
      background-size: cover;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6); }
    .top .left .profile .name {
      position: absolute;
      font-size: 44px;
      font-weight: 800;
      transform: rotate(-90deg);
      top: 75px;
      left: -115px;
      color: #548EA6; }
    .top .left .profile .info {
      position: absolute;
      top: 265px;
      left: 45px; }
      .top .left .profile .info p {
        display: flex;
        margin: 12px 0px; }
        .top .left .profile .info p img {
          margin-right: 5px; }
  .top .right {
    padding: 10px; }
    .top .right .about {
      height: 50%; }
      .top .right .about p {
        line-height: 1.5rem;
        padding: 5px 10px; }
    .top .right .edu {
      height: 50%; }
      .top .right .edu .bar {
        top: 20px;
        left: 16px; }
        .top .right .edu .bar .point {
          top: 16px;
          left: -1px; }
      .top .right .edu .desc {
        position: absolute;
        top: 46px;
        left: 42px; }
        .top .right .edu .desc p {
          line-height: 1.5rem; }
          .top .right .edu .desc p span {
            display: block; }
          .top .right .edu .desc p .year {
            color: #548EA6;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 14px; }
          .top .right .edu .desc p .school {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px; }
          .top .right .edu .desc p .dept {
            font-size: 14px; }

.middle {
  display: flex;
  height: 250px; }
  .middle .left {
    padding: 10px; }
    .middle .left .skill {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .middle .left .skill .py {
        background: linear-gradient(90deg, #F3D2B3 80.4%, #fff 0); }
      .middle .left .skill .r {
        background: linear-gradient(90deg, #F3D2B3 60%, #fff 0); }
      .middle .left .skill .sql {
        background: linear-gradient(90deg, #F3D2B3 60%, #fff 0); }
  .middle .right {
    padding: 10px; }
    .middle .right .bar {
      top: 20px;
      left: 10px;
      height: 150px; }
      .middle .right .bar .point1 {
        top: 16px;
        left: -1px; }
      .middle .right .bar .point2 {
        top: 74px;
        left: -1px; }
    .middle .right .desc {
      position: absolute;
      top: 18px;
      left: 42px; }
      .middle .right .desc p {
        line-height: 1.5rem;
        color: #548EA6;
        font-weight: bold;
        font-size: 18px; }

.bottom {
  display: flex;
  height: 200px; }
  .bottom .left {
    padding: 10px; }
    .bottom .left .toeic, .bottom .left .datacamp {
      display: flex;
      align-items: center;
      color: #548EA6; }
    .bottom .left .toeic .loadchart {
      height: 20px;
      width: 180px;
      background: linear-gradient(90deg, #F3D2B3 70%, #fff 0); }
    .bottom .left .score {
      font-size: 18px;
      font-weight: bold;
      margin-left: 8px; }
    .bottom .left .datacamp .loadchart {
      height: 20px;
      width: 140px;
      background: linear-gradient(90deg, #F3D2B3 30%, #fff 0); }
  .bottom .right {
    padding: 10px; }
    .bottom .right .content {
      padding: 10px;
      display: flex;
      justify-content: space-around; }
      .bottom .right .content img {
        display: block;
        margin: auto; }
      .bottom .right .content .word {
        margin: 10px;
        color: #548EA6;
        font-weight: bold; }

.footer {
  height: 50px;
  background-color: #F3D2B3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./imgs/me.jpg); }
  .footer img {
    display: inline-block;
    margin: 5px;
    border: 0px solid #000; }

.loadchart {
  display: flex;
  border: 1px solid #548EA6;
  border-radius: 6px;
  margin-left: 10px;
  width: 250px;
  height: 30px; }

.load {
  width: 50px;
  height: 28px;
  border-right: 1px dashed #548EA6;
  border-top-left-radius: 6px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent; }

.bar {
  border-radius: 4px;
  width: 8px;
  height: 120px;
  background-color: #F3D2B3; }

.point {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #548EA6; }

.left, .right {
  display: inline-block;
  width: 50%;
  height: 100%; }

.content {
  margin-top: 10px;
  padding: 5px; }

a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500; }

