doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
        link(rel="stylesheet", href="./css/all.css") 
        title Gary Huang | HW1
    body 
        header
            a(href="#" class="logo") My Website
            ul.menu
                li
                    a(href="#") Item 1 
                li
                    a(href="#") Item 2
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4
            a(href="#" class="icon")
                i.fa.fa-bars
        .welcome Welcome to MyHome
        main 
            ul.pic
                li
                    img(src="./imgs/003Venusaur.png", alt="")
                    h2 妙蛙花
                li
                    img(src="./imgs/006Charizard.png", alt="")
                    h2 噴火龍
                li
                    img(src="./imgs/009Blastoise.png", alt="")
                    h2 水箭龜
                li
                    img(src="./imgs/012Butterfree.png", alt="")
                    h2 巴大蝶
                li
                    img(src="./imgs/025Pikachu.png", alt="")
                    h2 皮卡丘
                li
                    img(src="./imgs/052Meowth.png", alt="")
                    h2 喵喵
                li
                    img(src="./imgs/094Gengar.png", alt="")
                    h2 耿鬼
                li
                    img(src="./imgs/131Lapras.png", alt="")
                    h2 拉普拉斯