doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
        link(rel="stylesheet", href="./css/all.css") 
        title Gary Huang | HW3
    body 
        header
            a(href="#" class="logo") My Website
            ul.menu
                li
                    a(href="#") Item 1 
                li
                    a(href="#") Item 2
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4
            a(href="javascript:void(0)" class="burger" onclick="burgerMenu()")
                i.fa.fa-bars.fa-lg
        .welcome Welcome to MyHome
        main
            ul.card#card
        div
            a(href="javascript:void(0)" id="btn") Load more
        script(src="./js/all.js")