<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gary Huang | Resume
        link(rel="stylesheet", href="./css/all.css")
    body
        div.resume
            div.top
                div.left
                    div.profile
                        div.avatar
                        p.name Gary Huang
                        div.info
                            p <img src="./imgs/phone.svg", type="image/svg+xml", width="25", height="25" /> 0933-XXX-XXX
                            p <img src="./imgs/email.svg", type="image/svg+xml", width="25", height="25" /> ttiverson3@gmail.com
                            p <img src="./imgs/location.svg", type="image/svg+xml", width="25", height="25" /> Taoyuan, Taiwan
                            
                div.right
                    div.about
                        h2 About Me
                        p 嗨你好，我是 Gary，來自桃園市，就讀中山大學資管所，在學期間於電子商務時報實習，熱衷於打籃球、看球賽，也喜歡 Nintendo Switch 寶可夢系列，目標是成為一名厲害的軟體工程師。
                    div.edu
                        h2 Education
                        div.bar
                            div.point
                        div.desc
                            p
                                span.year 2019-2021 <br>
                                span.school National Sun Yat-sen University <br> 
                                span.dept Dept. of Information Management
            div.middle
                div.left
                    h2 Skill
                    div.content
                        div.skill <img src="./imgs/html.svg", width="40", height="40" />
                            div.loadchart.html
                                .load
                                .load
                                .load
                                .load
                        div.skill <img src="./imgs/css.svg", width="40", height="40" />
                            div.loadchart.css
                                .load
                                .load
                                .load
                                .load
                        div.skill <img src="./imgs/js.svg", width="40", height="40" />
                            div.loadchart.py
                                .load
                                .load
                                .load
                                .load
                div.right
                    h2 Experience
                    div.content
                        .bar
                            .point.point1
                            .point.point2
                        .desc
                            p 2019
                                a(href="https://reurl.cc/od2gQ3", target="_blank") 108學年度碩士班研究生獎學金 
                            p 2019-2021 <br>
                                a(href="https://www.ectimes.org.tw/", target="_blank") 電子商務時報-財務長
            div.bottom
                div.left
                    h2 Certificate
                    .content
                        .toeic
                            h3 TOEIC
                            .loadchart
                            .score 790
                        .passion
                            h3 Passion
                            .loadchart
                            .score 100
                div.right
                    h2 Interest
                    .content
                        .switch
                            <img src="./imgs/switch.svg", width="44", height="44" />
                            div.word Switch
                        .ball
                            <img src="./imgs/ball.svg", width="44", height="44" />
                            div.word Basketball
                        .pokemon
                            <img src="./imgs/pokemon.svg", width="44", height="44" />
                            div.word Pokemon
            div.footer
                    a(href="https://www.facebook.com/", target="_blank")
                        <img src="./imgs/fb.svg", width="30", height="30" />
                    a(href="https://www.instagram.com/", target="_blank")
                        <img src="./imgs/ig.svg", width="32", height="32" />
                    a(href="https://tw.linkedin.com/", target="_blank")
                        <img src="./imgs/linkedin.svg", width="32", height="32" />